[Unit]
Description=NovaCron Distributed VM Management System
Documentation=https://github.com/khryptorgraphics/novacron
Requires=postgresql.service
After=multi-user.target postgresql.service
AllowIsolate=yes

[Install]
WantedBy=multi-user.target