<domain type='qemu'>
  <name>cirros</name>
  <memory unit='MiB'>256</memory><currentMemory unit='MiB'>256</currentMemory>
  <vcpu>1</vcpu>
  <os>
    <type arch='__ARCH__' machine='__MACHINE__'>hvm</type>
    <kernel>/var/lib/libvirt/images/cirros-kernel</kernel>
    <initrd>/var/lib/libvirt/images/cirros-initramfs</initrd>
    <cmdline>console=__CONSOLE__</cmdline>
    <boot dev='hd'/>
  </os>
  __CPU_XML__
  <devices>
    <emulator>__EMULATOR__</emulator>
    <disk type='file' device='disk'><driver name='qemu' type='qcow2'/><source file='/var/lib/libvirt/images/cirros-data.qcow2'/><target dev='vda' bus='virtio'/></disk>
    <interface type='network'><source network='p2p-l2'/><model type='virtio'/></interface>
    <serial type='pty'><target port='0'/></serial><console type='pty'><target type='serial' port='0'/></console>
  </devices>
</domain>
